*{
    box-sizing: border-box;
}
.Toolbar {
    min-width: 100%;
    top: 0.5rem;
    position: absolute;
    height:3rem;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
    justify-content: space-between;
}

.Logo {
    height: 100%;
}

.NavItems {
    display: none;
}

@media (min-width: 640px) {
    /* .DesktopOnly {
        display: none;
    } */

    /* .Logo {
        height: 100%;
    } */

    .Toolbar {
        left: 3rem;
        top: 1.5rem;
        min-width: 90%;
        height: 5rem;
    }

    .NavItems {
        display: block;
    }

} 
