@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;

}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.chalWrap {
    display: flex;
    min-width: 100%;
    min-height: 115rem;
    height: 50rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f5f7;
}


.chalTx {
    z-index: 10;
    margin: 6rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chalTxHead {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    color: #222324;
}

.chalTxCont {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    color: #222324;
    font-weight: 0.8rem;
    text-align: center;
}

.blob {
    position: absolute;
    top: 28rem;
    right: -14rem;
    width: 24rem;
}

.chalSplit {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.chalSplitSec {
    text-align: center; 
    margin: 1.5rem 0;   
}

.chalSplitHead {
    font-family: 'Merriweather','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.chalSplitCont {
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.chalSplitContPh {
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    opacity: 0.75;
    font-weight: 400;
} 

.chalSplitCont2 {
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 350;
}

.chalSplitImg1 img{
    margin: 0.5rem;
    width: 40%;
}


.chalSplitImg2 img{
    margin: 0.5rem;
    width: 50%;
}

.chalSplitLine {
    width: 85%;
    height: 1px;
    background: #3f3d56;
}

@media (min-width: 500px)  {
    .chalWrap {
        min-height: 100vh;
        padding-bottom: 6rem;
    }

    .blob {
        top: 34rem;
        right: -16rem;
        width: 37.5rem;
    }
    

    .chalTx {
        width: 90%;
        margin: 6rem 2rem;
    }

    .chalTxHead {
        font-size: 2.5rem;
    }

    .chalTxCont {
        width: 70%;
        font-size: 1.2rem;
    }

    /* .chalTxContPh {
        width: 70%;
        font-size: 0.8rem;
        font-style: italic;
    } */

    .chalSplit {
        flex-direction: row;
        /* justify-content: space-around;
        align-items: center; */
    }

    .chalSplitSec {
        width: 40%;
        margin: 0;
    }

    .chalSplitLine {
        height: 95%;
        width: 1px;
        background: #3f3d56;
        /* border: 2px solid #3f3d56; */
    }
    
}

@media (min-width: 1025px) {

    .blob {
        top: 30rem;
    }
    
}





