@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;

}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.spWrap {
    display: flex;
    min-width: 100%;
    /* height: 65rem; */
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f2f5f7;
}

.spImgs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}

.spImgs img {
    width: 12rem;
    margin: 2rem;
}

.hiddenLogo {
    visibility: hidden;
    /* display: block; */
}


.spTx {
    z-index: 10;
    margin: 2rem;
}

.spTxHead {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    color: #222324;
    text-align: center;
}



@media (min-width: 500px) {
    .spWrap {
        margin:0;
    }

    .spImgs {
        width: 60%;
    }

/* 
    .spTx {
        width: 70%;
    } */

    .spTxHead {
        font-size: 2.5rem;
    }

}




/* colors
#3f3d56 black
#2f2e41 black2
#38d39f  green */